<div class="container ">

	<div class=" col-md-7 col-md-offset-2">
		<div class="card hovercard">
			<div class="card-background"></div>
			<div class="useravatar img-circle">
				<img class="img-circle" src="/resources/images/profile/me.jpg">
			</div>
			<div class="card-info">
				<span class="card-title">{{user.userName}}</span>

			</div>
		</div>
		<div class="btn-pref btn-group btn-group-justified btn-group-lg"
			role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" id="details" class="btn btn-default"
					href="#tab1" data-toggle="tab">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<div class="hidden-xs">Personal Details</div>
				</button>
			</div>

			<div class="btn-group" role="group">
				<button type="button" id="changePassword" class="btn btn-primary"
					href="#tab2" data-toggle="tab">
					<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
					<div class="hidden-xs">Chnage Password</div>
				</button>
			</div>
		</div>

		<div class="well">
			<div class="tab-content">
				<div class="tab-pane fade in " id="tab1">
					<h3>Name : {{user.userName}}</h3>
					<h3>Email : {{user.email}}</h3>
					<h3>Contact Number : {{user.contactNumber}}</h3>
				</div>
				<div class="tab-pane fade in active" id="tab2">

					<div class="form-group">
						<input type="password" class="form-control"
							placeholder="Old Password" ng-model="passwords.old">
					</div>
					<div class="form-group">
						<input type="password" class="form-control"
							placeholder="New Password" ng-model="passwords.updated">
					</div>
					<button type="submit" class="btn btn-orange"
						ng-click="updatePassword()">Update</button>

				</div>
			</div>
		</div>
	</div>

</div>
