<div class="jumbotraon col-md-4 col-md-offset-4">
	<form >
		<div class="form-group">
			<label class="sr-only" for="fname">First Name</label> <input
				type="text" class="form-control" id="fname" ng-model="user.fname"
				placeholder="First Name" required>
		</div>
		<div class="form-group">
			<label class="sr-only" for="lname">Last Name</label> <input
				type="text" class="form-control" id="lname" ng-model="user.lname"
				placeholder="Last Name" required>
		</div>
		<div class="form-group">
			<label class="sr-only" for="email">Email address</label> <input
				type="email" class="form-control" id="email" placeholder="Email"
				ng-model="user.email" required>
		</div>
		<div class="form-group">
			<label class="sr-only" for="contactNumber">Contact Number</label> <input
				type="text" class="form-control" id="contactNumber"
				ng-model="user.number" placeholder="Contact Number" required>
		</div>
		<button type="submit" class="btn btn-orange" ng-click="signUp()">Sign
			Up</button>
	</form>
</div>