<div class="container">
	<div class="col-md-4">Filters</div>
	<div class="col-md-8">
		Results
		<div class="ad-post row" ng-repeat="ad in myAds">
			<div class="col-md-10">
				<h3>{{ad.title}}</h3>
				<span>{{ad.description}}</span>

				<p>{{ad.localityName}}, {{ad.zoneName}}, {{ad.cityName}}</p>

				<p>Posted on {{ad.postedOn}}</p>

				<p>Allowed to {{ad.allowedTo}}</p>
			</div>
			<div class="col-md-2">
				<h2>&#8377{{ad.rent}}</h2>

				<div>{{ad.room}} BHK</div>
				<button class="btn btn-xs btn-indigo">
					<span ng-show="{{ad.isActive}}">Deactivate</span> <span
						ng-hide="{{ad.isActive}}">Activate</span>
				</button>
			</div>
		</div>

	</div>
</div>
</div>